<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd">



	<bean id="pointA" class="com.soonyoong.youtube.Point">
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>

	<bean id="pointB" class="com.soonyoong.youtube.Point">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>

	<bean id="pointC" class="com.soonyoong.youtube.Point">
		<property name="x" value="0"></property>
		<property name="y" value="20"></property>
	</bean>
	
	<bean id="circle" class="com.soonyoong.youtube.Circle">
		<!-- <property name="center" ref="pointA"></property> -->
	</bean>
	
	<bean id="triangle" class="com.soonyoong.youtube.Triangle">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB">
			<ref bean="pointB" />
		</property>
		<property name="pointC" ref="pointC"></property>
	</bean>

	<bean id="triangleInnerBean" name="triangleInnerBeanName"
		class="com.soonyoong.youtube.Triangle">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB">
			<bean class="com.soonyoong.youtube.Point">
				<property name="x" value="-11"></property>
				<property name="y" value="0"></property>
			</bean>
		</property>
		<property name="pointC">
			<bean class="com.soonyoong.youtube.Point">
				<property name="x" value="0"></property>
				<property name="y" value="11"></property>
			</bean>
		</property>
	</bean>

	<bean id="triangleList" class="com.soonyoong.youtube.TriangleList">
		<property name="points">
			<list>
				<ref bean="pointA" />
				<ref bean="pointB" />
				<ref bean="pointC" />
			</list>
		</property>
	</bean>

	<bean id="triangleAutoWire" class="com.soonyoong.youtube.Triangle"
		autowire="byName">
	</bean>

	<bean id="triangleProto" class="com.soonyoong.youtube.Triangle"
		scope="prototype">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>
	<!-- context aware -->
	<bean id="triangleContextAware"
		class="com.soonyoong.youtube.TriangleContextAware">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>
	
	<!-- parent bean -->
	<bean id="triangleParent" class="com.soonyoong.youtube.Triangle" abstract="true">
		<property name="pointA" ref="pointA"></property>
	</bean>
	<bean id="triangleInherit" class="com.soonyoong.youtube.Triangle" parent="triangleParent">
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>
	
	<!-- life cycle using interface -->
	<bean id="triangleLifeCycle" class="com.soonyoong.youtube.TriangleLifeCycle">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property> 
		<property name="pointC" ref="pointC"></property>
	</bean>
	<!-- life cycle using config -->
	<bean id="triangleLifeCycleByConfig" class="com.soonyoong.youtube.Triangle" init-method="myInit" destroy-method="myDestroy">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>
	<!-- BeanPostProcessor to check the @Required is fulfill -->
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean>
	
	<alias name="triangleInnerBean" alias="triangleInnerBeanAlias" />

</beans>