<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		 						 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/webcontext/DispatcherServlet-context.xml
			</param-value>
		</init-param>
		<init-param>
			<description>This is an init parameter example</description>
			<param-name>InitParam</param-name>
			<param-value>init param value</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.packt.webstore.controller.TestServlet</servlet-class>
		<init-param>
			<description>This is an init parameter example</description>
			<param-name>InitParam</param-name>
			<param-value>init param value</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>email</param-name>
		<param-value>myemail@email.com</param-value>
	</context-param>
</web-app>